@model IEnumerable<Capa_Entidad.documento>

@{
    ViewBag.Title = "Filtro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filtro</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept_origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept_destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_documentos }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_documentos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_documentos })
        </td>
    </tr>
}

</table>
